body {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: #0c0c0c;
  margin: 50px;
  padding: 0;
  color: white;
}

h1 {
  text-align: center;
}

.linked-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.node {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  margin: 7px;
  border-radius: 7px;
}
.cursor-node {
  background-color: rgb(255, 0, 255);
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  margin: 7px;
  border-radius: 7px;
}

.control-panel {
  text-align: center;
  margin: 20px;
}

.control-panel-move button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #0400ff;
  color: white;
  cursor: pointer;
}

.control-panel-insert button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #6f00ff;
  color: white;
  cursor: pointer;
}

.control-panel-delete button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #bf00ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: black;
}
